---
http_interactions:
- request:
    method: get
    uri: http://www.espncricinfo.com/wc2007/engine/series/509587.json?view=pointstable
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Emea-Info:
      - wci064 0.043
      Content-Type:
      - application/json; charset=UTF-8
      X-Varnish-Cache:
      - HIT
      X-Varnish-Hits:
      - '3'
    body:
      encoding: UTF-8
      string: '{"graph":{"Pool A":{"1":{"points":[{"date":"2015-02-14","match_id":"53331","match_info":"Aus
        2 - Eng 0","points":0},{"date":"2015-02-20","match_id":"53345","match_info":"NZ
        2 - Eng 0","points":0},{"date":"2015-02-23","match_id":"53355","match_info":"Eng
        2 - Scot 0","points":2}],"team_abbreviation":"Eng","team_id":"1","team_name":"England","team_short_name":"England"},"2":{"points":[{"date":"2015-02-14","match_id":"53331","match_info":"Aus
        2 - Eng 0","points":2},{"date":"2015-02-21","match_id":"53349","match_info":"Aus
        1 - Ban 1","points":3}],"team_abbreviation":"Aus","team_id":"2","team_name":"Australia","team_short_name":"Australia"},"25":{"points":[{"date":"2015-02-18","match_id":"53341","match_info":"Afg
        0 - Ban 2","points":2},{"date":"2015-02-21","match_id":"53349","match_info":"Aus
        1 - Ban 1","points":3}],"team[...]
